BODY {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体, verdana, arial, helvetica, sans-serif
} 
TD {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体, verdana, arial, helvetica, sans-serif
}
TH {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体, verdana, arial, helvetica, sans-serif
}
A {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体, verdana, arial, helvetica, sans-serif
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体, verdana, arial, helvetica, sans-serif
}
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体, verdana, arial, helvetica, sans-serif
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: 宋体, verdana, arial, helvetica, sans-serif
}
BODY {
	SCROLLBAR-FACE-COLOR: #7bb6e7; BACKGROUND: #7bb6e7; MARGIN: 2px; SCROLLBAR-HIGHLIGHT-COLOR: #7bb1e7; SCROLLBAR-SHADOW-COLOR: #f4f4f4; SCROLLBAR-3DLIGHT-COLOR: #f4f4f4; SCROLLBAR-ARROW-COLOR: #f4f4f4; SCROLLBAR-TRACK-COLOR: #add7ef; SCROLLBAR-DARKSHADOW-COLOR: #799ae1
}
TABLE.menu {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #ffffff 1px solid; WIDTH: 90%; PADDING-TOP: 0px; BORDER-BOTTOM: #ffffff 1px solid
}
TABLE.menu TH {
	CURSOR: hand; COLOR: #ffffff; HEIGHT: 24px; BACKGROUND-COLOR: #799ae1
}
TABLE.menu TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #d6dff7
}
TABLE.menu TD A:link {
	COLOR: #333333; TEXT-DECORATION: none
}
TABLE.menu TD A:visited {
	COLOR: #333333; TEXT-DECORATION: none
}
TABLE.menu TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TABLE.form {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: 0px; WIDTH: 98%; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
TABLE.form TH {
	FONT-SIZE: 9pt; COLOR: #ffffff; HEIGHT: 24px; BACKGROUND-COLOR: #799ae1
}
TABLE.form TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #d6dff7
}
TABLE.form TD A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.form TD A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.form TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TABLE.list {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 4px; BORDER-TOP: 0px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; BORDER-LEFT: 0px; WIDTH: 98%; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
TABLE.list TH {
	COLOR: #ffffff; HEIGHT: 24px; BACKGROUND-COLOR: #799ae1
}
TABLE.list TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #d6dff7
}
TABLE.list TD A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.list TD A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.list TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
TABLE.navi {
	BORDER-RIGHT: 0px; PADDING-RIGHT: 1px; BORDER-TOP: 0px; PADDING-LEFT: 1px; PADDING-BOTTOM: 1px; BORDER-LEFT: 0px; WIDTH: 98%; PADDING-TOP: 1px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
TABLE.navi TH {
	PADDING-LEFT: 5px; COLOR: #ffffff; HEIGHT: 24px; BACKGROUND-COLOR: #799ae1; TEXT-ALIGN: left
}
TABLE.navi TD {
	PADDING-LEFT: 5px; LINE-HEIGHT: 25px; BACKGROUND-COLOR: #d6dff7
}
TABLE.navi TD A:link {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.navi TD A:visited {
	COLOR: #333333; TEXT-DECORATION: underline
}
TABLE.navi TD A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
INPUT {
	BORDER-TOP-WIDTH: 1px; PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; PADDING-BOTTOM: 1px; BORDER-TOP-COLOR: #cccccc; PADDING-TOP: 1px; HEIGHT: 18px; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
TEXTAREA {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #cccccc; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #cccccc; BORDER-TOP-COLOR: #cccccc; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #cccccc
}
SELECT {
	BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #000000; BORDER-BOTTOM-WIDTH: 1px; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-COLOR: #000000; BACKGROUND-COLOR: #efefef; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #000000
}
A {
	COLOR: #333333; TEXT-DECORATION: underline
}
.gray {
	COLOR: gray
}
.red {
	COLOR: red
}
.blue {
	COLOR: blue
}
DIV#qTip {
	BORDER-RIGHT: #99cc33 2px solid; PADDING-RIGHT: 2px; BORDER-TOP: #99cc33 1px solid; DISPLAY: none; PADDING-LEFT: 2px; Z-INDEX: 10000; BACKGROUND: #fff; PADDING-BOTTOM: 2px; BORDER-LEFT: #99cc33 1px solid; COLOR: #000; PADDING-TOP: 2px; BORDER-BOTTOM: #99cc33 2px solid; POSITION: absolute; TEXT-ALIGN: left
}
